<% form_with model:@user do |f| %>
  <%= f.file_field :profile_image, accept: "image/*", class: "W-100" %>
  <div class="form-group">
    <label>名前</label><br>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>自己紹介</label><br>
    <%= f.text_area :introduction, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit '更新', class: "btn btn-success" %>
  </div>
<% end %>