<div class="container mx-auto background">
  <div class="row">
  <div class="col-sm-6 col-md-8 about">
  box
  </div>
  <div class="col-sm-6 col-md-4 btn-wrapper">
  <div>
    <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-info btn-sm btn-block rounded-pill mb-3  sign_in", method: :post %>
  </div>
  <div>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-sm btn-block rounded-pill mb-3" %>
  </div>
  <div>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-info btn-sm btn-block rounded-pill mb-3" %>
  </div>
  </div>
</div>
