@use '~bootstrap/scss/bootstrap';

.flash-message.notice {
  color: #0067C0;
}

.flash-message.alert{
  color: #930403;
}

.field_with_errors {
  width: 85%;
}

p {
  line-height: 15px;
}

.navbar-brand {
  font-family: "Bradley Hand", "Segoe Print", sans-serif;
  font-size: 25px;
}

.top-main-visual {
  background-image: url("../images/shikun116757_TP_V.jpg");
  background-size: cover;
  background-position: center;
  min-height: 50vh;
}

.top-text {
  font-family: "Segoe Print", sans-serif;
  padding-top: 20vh;
}

.index_post {
  width: 200px;
  height: 350px;
}

.index_post_image {
  width: 100%;
  height: 55%;
  object-fit: cover;
}

#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

.map_post{
  width: 180px;
}

.map_post_image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}