@use '~bootstrap/scss/bootstrap';

.flash-message.notice {
  color: #0067C0;
}

.flash-message.alert {
  color: #930403;
}

.navbar-brand {
  font-family: "Bradley Hand", "Segoe Print", sans-serif;
  font-size: larger;
}

footer, .navi-item {
  font-family: "Segoe Print", sans-serif;
}

.top-main-visual {
  background-image: url(../../assets/images/shikun116757_TP_V.jpg);
  background-size: cover;
  background-position: center;
  min-height: 50vh;
}

.top-text {
  font-family: "Segoe Print", sans-serif;
  padding-top: 20vh;
}