<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <% if @model == "user" %>
    <thead>
      <tr>
        <th>プロフィール写真</th>
        <th>名前</th>  
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
          <td><%= user.name %></td>
          <td>show</td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <% @records.each do |post| %>
        <tr>
          <td><%= post.shop_name %></td>
          <td><%= post.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>