<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <% if post_image.attaached? %>
    <%= imag_tag post.image, size:"200*200" %>
  <% else %>
    <% image_tag 'no_image', size: "200*200" %>
  <% end %>
<% end %>