<div class="container-fuild m-4">
  <h3><ins>favorited post</ins></h3>
  <% if @favorite_posts.exists? %>
    <div class="row justify-content-center justify-content-sm-start" >
      <%= render '/public/posts/post_index', posts:@favorite_posts %>
    </div>
  <% else %>
    <p class="mt-5 text-center">投稿がありません</p>
  <% end %>
</div>